[submodule "reports/Prosjektrapport"]
	path = reports/Prosjektrapport
	url = https://github.com/martiege/Prosjektrapport.git
[submodule "reports/Autoferge"]
	path = reports/Autoferge
	url = https://github.com/martiege/Autoferge.git
[submodule "code/NTNU_autoferge_orbSLAM"]
	path = code/NTNU_autoferge_orbSLAM
	url = https://github.com/amundfjosne/NTNU_autoferge_orbSLAM.git
